<% provide :title, "Mag-Lite GRE" %>

<div class="jumbotron">
  <h1>Improve your GRE<sup>®</sup> score</h1>

  <p>
    Our students improve their scores by an average of at least 5
    points<sup>*</sup>. We guarantee you will too.
  </p>

  <p>
    <%= link_to 'Sign Up', new_signup_path, :class => 'btn btn-success' %>
  </p>

  <p>
    <small>* 100 points on the old scale</small>
  </p>
</div>

<div class="page-header">
  <h2>Reasons why you'll love studying with Mag-Lite</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Over 1000 questions</h4>
    <p>
      Our practice questions are carefully written and edited to give you the
      most accurate practice possible.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Explanation videos</h4>
    <p>
      Each practice question has its own video explanation which covers the
      vital concepts, shortcuts and pitfalls.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Lesson videos</h4>
    <p>
      Learn anything from simple geometry to passage deconstruction with our
      library of video lessons.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Simple design</h4>
    <p>
      Study online wherever you go. Our clean and simple interface gets out of
      the way and lets you learn.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Friendly support</h4>
    <p>
      Help is always just a click away. If you don’t understand something, our
      tutors will explain it to you quickly and clearly.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Affordable</h4>
    <p>
      You don’t need expensive classes and private tutors. Studying online is
      easier and we pass the savings on to you.
    </p>
  </div>
</div>
